.searchInput {
  flex: 1;
  padding: 0.75rem 1rem;
  background-color: rgb(39 39 42);
  color: rgb(255 255 255);
  border-radius: 0.5rem;
  border: 1px solid rgb(63 63 70);
  outline: none;
}

.searchInput:focus {
  ring: 2px;
  ring-color: rgb(234 179 8);
}
