.container {
  min-height: 100vh;
  background-color: rgb(24 24 27);
  font-family: sans-serif;
}


.fileInput {
  display: none;
}

.header {
  background-color: rgb(234 179 8);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.headerTitle {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(0 0 0);
}

.headerRight {
  font-size: 1.25rem;
  font-weight: 600;
  color: rgb(0 0 0);
}

.main {
  padding: 2rem;
}

.searchAndButtons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
    gap: 2em;
    margin-inline: 10em
}

.searchBar {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 80%;
}

.button {
  padding: 0.75rem 1.5rem;
  background-color: rgb(234 179 8);
  color: rgb(0 0 0);
  font-weight: 600;
  border-radius: 0.5rem;
  transition: background-color 150ms;
  border: none;
  cursor: pointer;

}

.buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.button:hover {
  background-color: rgb(202 138 4);
}

/* Modal Content Styles */
.modalTitle {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.modalDescription {
  margin-bottom: 1rem;
  color: #666;
}

.headersContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(127 29 29);
}

.headerBadge {
  padding: 0.5rem 1rem;
  margin-inline: auto;
  text-decoration: underline;

  color: white;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.modalActions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.modalButton {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
}

.modalButtonCancel {
  background-color: #e5e5e5;
  color: #333;
}

.modalButtonConfirm {
  background-color: rgb(234 179 8);
  color: rgb(0 0 0);
}

