.container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgb(250 250 250);
  font-family: sans-serif;
}

.container.dark {
  background-color: rgb(0 0 0);
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 48rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8rem 4rem;
  background-color: rgb(255 255 255);
}

.main.dark {
  background-color: rgb(0 0 0);
}

@media (min-width: 640px) {
  .main {
    align-items: flex-start;
  }
}

.logo {
  filter: invert(0);
}

.logo.dark {
  filter: invert(1);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

@media (min-width: 640px) {
  .content {
    align-items: flex-start;
    text-align: left;
  }
}

.title {
  max-width: 20rem;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 2.5rem;
  letter-spacing: -0.025em;
  color: rgb(0 0 0);
}

.title.dark {
  color: rgb(250 250 250);
}

.description {
  max-width: 28rem;
  font-size: 1.125rem;
  line-height: 2rem;
  color: rgb(82 82 91);
}

.description.dark {
  color: rgb(161 161 170);
}

.link {
  font-weight: 500;
  color: rgb(9 9 11);
}

.link.dark {
  color: rgb(250 250 250);
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

@media (min-width: 640px) {
  .actions {
    flex-direction: row;
  }
}

.button {
  display: flex;
  height: 3rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 9999px;
  padding: 0 1.25rem;
  transition-property: color, background-color, border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@media (min-width: 768px) {
  .button {
    width: 158px;
  }
}

.buttonPrimary {
  background-color: var(--foreground);
  color: var(--background);
}

.buttonPrimary:hover {
  background-color: rgb(56 56 56);
}

.buttonPrimary.dark:hover {
  background-color: rgb(204 204 204);
}

.buttonSecondary {
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.buttonSecondary:hover {
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.04);
}

.buttonSecondary.dark {
  border-color: rgba(255, 255, 255, 0.145);
}

.buttonSecondary.dark:hover {
  background-color: rgb(26 26 26);
}
